<!-- ====== FOOTER PART START ====== -->
<div class="footer_area pt-20">
    <div class="footer_container">
        <div class="footer_logo">
            <a href="index.html"><img src="assets/images/logo_white.png" alt="Delta Sport US Logo" style="width: 70%;"></a>
        </div>
        <div class="footer_menu1">
            <a href="aboutUs.html" class="footer-link">About Us</a>
        </div>
        <div class="footer_menu2">
            <a href="promotions.html" class="footer-link">Promotions and discounts</a>
        </div>
        <div class="footer_menu3">
            <a href="ourProcess.html" class="footer-link">Our process</a>
        </div>
        <div class="footer_menu4">
            <a href="products.html" class="footer-link">Products</a>
        </div>
        <div class="footer_menu5">
            <a href="contact.html" class="footer-link">Contact</a>
        </div>
        <div class="footer_menu6">
            <a href="https://www.instagram.com/deltasport.us?igsh=a3ZtZXVucm1uN28w" class="footer-link">Follow us <i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer_end">
        <p class="text-center mt-40">Delta Sport US &copy; 2025. All rights reserved.</p>
    </div>
</div>
<!-- ====== FOOTER PART ENDS ====== -->
